@media (max-width 1080px) {
    .header {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
    .header-wraper {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .box-wraper {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    .sec3-title {
        text-align: center;

    }
    .container {
        max-width: 800px;
        display: flex;
        flex-direction: column;
    }
    .box3 {
        max-width: 800px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box-image {
        width:200px;
    }
    .podcast-wraper {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .footer {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width 767px) {
    .header {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .header-wraper {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    .header i{
        display: block;
    }
    .nav-ul {
        display: none;
    }
    .box-wraper {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .container {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .box {
        max-width: 150px;
        width: 100%;
    }
    .sec3-title {
        text-align: center;

    }
    .box3 {
        display: flex;
        flex-direction: column;
    }
    .box-image {
        width:150px;
    }
    .podcast-wraper {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .footer {
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width 479px) {
    .header {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .header-wraper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .header i{
        display: block;
    }
    .nav-ul {
        display: none;
    }
    .box-wraper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .sec3-title {
        text-align: center;

    }
    .box-image {
        width:200px;
    }
    .podcast-wraper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .footer {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width 420px) {
    .header {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
    .header-wraper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .header i{
        display: block;
    }
    .nav-ul {
        display: none;
    }
    .box-wraper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .sec3-title {
        text-align: center;

    }
    .box-image {
        width:200px;
    }
    .podcast-wraper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .footer {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
}