body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #E1D8ff;
}
/* header */
.header {
    max-width:1920px; 
    width: 100%;
    background-image: url(../img/bimage.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.header-wraper {
    max-width: 1780px;
    width: 100%;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: Morganite-SemiBold;
    font-size: 46px;
    color: #272E5D;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soundwalker {
    margin-left: 100px;
    margin-top: 30px;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 20px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-a {
    font-family: Morganite-SemiBoldItalic;
    font-size: 24px;
    margin-left: 30px;
    text-transform: uppercase;
}
.header-wraper i{
    display: none;
}
.main-title {
    max-width:1000px;
    width: 100%;
    height: 364px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-title-text {
    font-family:Morganite-SemiBold;
    font-size: 50px;
    position: absolute;
}
/* section1 */
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #E1D8FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-wraper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.box1 {
    max-width: 500px;
    width: 100%;
    height: 678px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    position: relative;
}
/* section2 */
.sec3-title {
    font-family:Morganite-SemiBold;
    font-size: 50px;
    max-width: 1600px;
    width: 100%;
    height: 364px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
.box-title {
    font-family:Morganite-SemiBold;
    font-size: 24px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    float: left;
    padding-top: 100%;
}
.box-title a :hover {
    background-color: #EFEBFF;
    transition: 2s 5s ease-in-out;
}
.box-image {
    width: 350px;
    padding-left: 150px;
}
.box-text {
    font-family:Morganite-SemiBold;
    font-size: 12px;
    position: absolute;
    display: flex;
    padding-top: 110%;
    float: left;
}
/* .CD {
    position: absolute;
    transition: all 0.5s ease 0.5s;
	animation:cdanimation 5s infinite; */
}
/* .box :hover {
    background-color: #E1D8ff;
}
.image :hover {
    background-color: #E1D8ff;
    opacity: 0.5;
    transition: ;
} */
/* section3 */
.container1 {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #E1D8FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec2-title{
    font-family:Morganite-SemiBold;
    font-size: 50px;
    max-width: 1000px;
    width:100%x;
    height: 364px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.podcast-wraper {
    max-width: 1229px;
    width: 100%;
    height: 1130px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.box3 {
    max-width: 1147px;
    width: 100%;
    height: 270px;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column-reverse; */
}
.text-wraper {
    max-width: 900px;
    width: 100%;
    margin:0 auto;
    display: flex;
    vertical-align: middle;
    /* text-align: left;
    align-items: center;
    justify-content: left;
    flex-direction: row; */
}
.box3-title {
    font-family: Morganite-SemiBold;
    font-size: 24px;
    color: #272E5D;
    max-width: 600px;
    width: 100%;
    position: absolute;
    /* text-align: left; */
    margin: 0 auto;
    display: flex;
    /* justify-content:left; */
}
.box3-text {
    font-family:Morganite-SemiBold;
    font-size: 12px;
    position: absolute;
    display: flex;
}
.box3-image {
    max-width: 263px;
    width: 100%;
    position: absolute;
    display: flex;
    /* align-items: center;
    vertical-align: middle; */
}
.button {
    color: #272E5D;
    background-color:#E1D8ff;
    width: 70px;
    height: 68px;
    font-family: Morganite-SemiBold;
    font-size: 15px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
    margin-left: 90%;
}
.button :hover {
    transition: all 0.5s linear;
    background-color: #6d44ff;
}
/* Footer */
.footer {
    background-image: url(../img/shutterstock_525488173.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
    height: 523px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form-title {
    font-family: Morganite-SemiBold;
    font-size: 30px;
    color: #272E5D;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 382px;
    align-items: center;
}
.form-text {
    font-family: Morganite-SemiBold;
    font-size: 10px;
    color: #272E5D;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.form-label {
    display: none;
}
.input-wraper {
    border: none;
    background-color:#EFEBFF;
    font-family: RFlexRegular;
    font-size: 12px;
    align-items: center;
}
.form-submit {
    border: none;
    background-color:#E1D8ff;
    font-family: Morganite-SemiBoldItalic;
    color: azure;
    font-size: 20px;
}
.footer-title {
    max-width: 382px;
    width: 100%;
    height: 97.96px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footer-head {
    font-family: Morganite-SemiBold;
    font-size: 48px;
    color: #272E5D;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-text {
    font-family: Morganite-SemiBold;
    font-size: 24px;
    color: #272E5D;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.footer-navigation {
    max-width: 1050px;
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-f {
    font-family: RFlexRegular;
    font-size: 16px;
    color: #272E5D;
    display: flex;
}
.footer-icons {
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bg {
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-credits {
    font-family: Morganite-SemiBold;
    font-size: 12px;
    color: azure;
}
.footer-bg i {
    color: azure;
    margin-right: 10px;
    font-size:10px;
}
